.main-content {
    margin-left: 250px;
    padding: 50px;
}

.section-title {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container label {
    margin: 10px 0 5px;
}

.form-input, .form-textarea, .form-select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.form-textarea {
    resize: vertical;
}

.submit-button {
    padding: 10px 20px;
    border: none;
    background-color: #5cb85c;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #4cae4c;
}

.view-products-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #337ab7;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}

.view-products-link:hover {
    background-color: #286090;
}