#menu{
    padding: 25px 0 25px 0;
    background-color: rgb(213 188 134);
}
#section {
    padding: 25px 0;
    text-align: center;
    font-size: 2rem;
    background-image: url('../image/menu.jpg');
    background-size: cover; 
    background-position: center; 
    color: #fff;
    height: 300px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu_row{
    display: flex;
    padding: 0 100px 0 100px;
}
#menu_column{
    box-shadow: 2px 2px 2px #4e370e;
    border: 1px solid #4e370e ;
    background-color: rgb(213 188 134);
    margin: 10px;
    padding: 10px;
    flex: 1;
}
#menu_column h2{
    background-color: #6b3e12;
    color: white;
    text-align: center;
    height: 50px;
    align-content: space-around;
}

.product-image {
    width: 170px;
    height: 170px; 
    object-fit: cover; 
    display: block;
    margin: 0 auto; 
    border-radius: 15px;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5px;
}
footer {
    background-color:black;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

footer p {
    margin: 0;
}

.sub-menu {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    border-bottom: 2px solid #4e370e;
 }

.sub-menu a {
    padding: 10px 20px;
    text-decoration: none;
    color: #000;;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.3s;
}

.sub-menu a:hover, .sub-menu a.active {
    border-bottom: 3px solid #6b3e12;
    font-weight: bold;
}

.tab-content {
    display: none;
    font-weight: bold;
}

.tab-content.active {
     display: block;
}

.box {
    background-color: #fdfdfd78;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1),
                inset -2px -2px 5px rgba(255, 255, 255, 0.7);
    transition: transform 0.3s, box-shadow 0.3s;
}
        
.box:hover {
    transform: translateY(-5px);
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2),
                inset -2px -2px 10px rgba(255, 255, 255, 0.9),
                0 10px 20px rgba(0, 0, 0, 0.1);
}

.linkpreorder {
    text-align: center;
    margin: 0px 0;
    background-color: rgb(213 188 134);
    padding: 1rem;
}
        
.linkpreorder a {
    text-decoration: none;
    color: white;
    background-color: #6b3e12;
    padding: 10px 20px;
    border-radius: 14px;
}
        
.linkpreorder a:hover {
    background-color: peru;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.notification {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.notification p {
    margin: 0;
}
.notification {
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
.notification-icon {
    position: relative;
}
.notification-icon .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
}